* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

body {
    background-color: #4a4e69;
}

.main {
    width: 92%;
    height: 100vh;
    margin: auto;
    padding-block: 1rem;
}

header{
    display: flex;
    width: 100vw !important;
    justify-content: center;
    align-items: center;
    background-color: #22223b;
    color: whitesmoke;
    height: 10vh;
}

nav {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* display: none; */
}

li.navItem, li.navItemActive {
    list-style: none;
    border: none;
    background-color: #2c2f3f;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    /* min-width: 50px; */
}

li.navItemActive {
    border: 1px solid #fff;
}

.cardContainer {
    margin: 1rem 0 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem !important;
}

.card {
    width: 100%;
    min-height: 350px;
    background-color: #2a2b44;
    color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}

.cardImage {
    height: 100%;
    width: 100%;
}
.cardDescription {
    padding: 1rem;
}
.cardDescription p {
    padding-top: .5rem;
    text-align: justify;
    text-justify: inter-character !important;
    line-height: 1.5rem;
}

@media screen and  (min-width: 960px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    li.navItem, li.navItemActive {
        width: calc(100%/5 - 1rem);
    }

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: start;
        /* justify-content: space-between; */
        gap: 1rem;
    }

    .card {
        width: calc(100%/3 - .67rem);
        height: 380px;
    }

    .cardDescription  {
        font-size: .69rem;
    }
}